<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.auction45" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Auction45</name>
    <description>
        A Car Auction Platform.
    </description>
    <author email="support@reliablehostng.com" href="http://Siscomedia.com.ng">
        Siscomedia Ltd
    </author>
    <content src="index.php" />
    <access origin="*" />
</widget>
